@import "../src/scss/reset";
@import "../src/scss/mixins";
@import "../src/scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body {
  font-family: "Rubik Distressed", cursive;
  height: 100vh;
  background-image: $background-image;
  background-attachment: fixed;
}
